<% include partials/header %>
<div class="container">
<header class="jumbotron">
    <div class="container">
        <h1>Camp grounds</h1>
        <p>view all our hand picked campground from all over the world</p> 
        <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Camp Ground</a></p>
    </div>
</header>

    <p>Hello from camp ground</p>
   
    <%campgrounds.forEach(function(campground){%>
        <div>
            <h1><%= campground.name %></h1>
            <img src="<%=campground.image  %>" alt="image">
        </div>

    <%})%>
    
</div>

<% include partials/footer %>